.checkbox input {
  height: 0;
  width: 0;
}

.checkbox {
  display: block;
  position: relative;
  padding-left: 26px;
  margin-bottom: 18px;
  font-size: 22px;
  user-select: none;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  border: 1px solid var(--blue);
  /* background-color: transparent; */
  cursor:pointer;
}

.checkbox:hover input ~ .checkmark {
  background-color: #c095c0;
}
.checkbox input:checked ~ .checkmark {
  background-color: var(--gray-500);
}

.checkbox .checkmark:after {
  top: -5px;
  width: 5px;
  height: 10px;
  left: 2px;
  color: var(--white);
}

.checkbox input:checked ~ .checkmark:after {
  display: block;
}

.checkmark:after {
  position: absolute;
  display: none;
}
